.card-rounded {
  border-top-right-radius: 0px;
}

.swiper-pagination {
  margin-top: 100px !important;
}

.swiper-pagination
  .swiper-pagination-clickable
  .swiper-pagination-bullets
  .swiper-pagination-horizontal {
  margin-top: 100px;
}
